{% extends 'base.html.twig' %}

{% block title %}PFA - {% endblock %}

{% block body %}
    <div id="anime">
        <div>
            <img id="animeimage" src="" width="250" height="350"/>
        </div>
        <div id="description">
        </div>
    </div>
{% endblock %}
